extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong 產品包裝
        hr.divider
        .row
            .col-md-4
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0027.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 300g單包裝
            .col-md-4
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0020.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 3000g單包裝
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0019.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 6包3000g袋裝箱
        .row.mt-2.mb-2
            .col-md-4
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0015.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 12包3000g袋裝箱
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0012.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 300g罐裝
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/文香珍相簿_180604_0004.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 30罐300g罐裝箱
           
