extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            | About
            strong Business Casual
        hr.divider
        .row
            .col-lg-6
                img.img-fluid.mb-4.mb-lg-0(src="img/slide-2.jpg", alt="")
            .col-lg-6
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta dolore voluptatem, deleniti dignissimos excepturi veritatis cum hic sunt perferendis ipsum perspiciatis nam officiis sequi atque enim ut! Velit, consectetur.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur perspiciatis reprehenderit illo et vitae iste provident debitis quos corporis saepe deserunt ad, officia, minima natus molestias assumenda nisi velit?
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            | Our
            strong Team
        hr.divider
        .row
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
