extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 與我們聯繫
        hr.divider
        div(style="display:flex;justify-content: center;;align-items: center;text-align: center;")
            img(style="width:32vh",src="images/phone_PNG48910.png")
        .row(style="display:flex;justify-content: center;;align-items: center;text-align: center;margin-top:20px")
            .col-lg-7(style="font-weight: bold;font-size: 20px")
                .mb-0(style="font-size: 30px;margin: 10px 0;") 電話：07-6526-060
                .mb-0(style="font-size: 30px;margin: 10px 0;") 手機：0980-995-668 (許小姐)
                .mb-0(style="font-size: 30px;margin: 10px 0;") 傳真：07-6520-744
                .mb-0(style="font-size: 25px;margin: 10px 0;") 地址：高雄市大樹區久大路65號11樓A棟
block script
    script(type='text/javascript').
        
