extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 工廠環境
        hr.divider
        .row.mt-2.mb-2
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/environment/119485.jpg", alt="")
                    img.card-img-top(src="images/environment/網頁資料相片_190314_0021.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/environment/網頁資料相片_190314_0022.jpg", alt="")
                    img.card-img-top(src="images/environment/網頁資料相片_190314_0013.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/environment/119482.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/environment/119483.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/environment/119484.jpg", alt="")
