extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong 罐裝標籤
        hr.divider
        .row.mt-2.mb-2
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119478.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚鬆標籤
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119479.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚脯標籤
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119480.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 鮪魚鬆標籤
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119481.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 月亮魚絨標籤