extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong 產品列表
        hr.divider
        .row.mt-2.mb-2
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
        .row.mt-2.mb-2
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4.mb-4.mb-md-0
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title
            .col-md-4
                .card.h-100
                    img.card-img-top(src="http://placehold.it/750x450", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | John Smith
                            small.text-muted Job Title