extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 吃魚的好處
                hr.divider
        img.img-fluid.float-left.mr-4.d-none.d-lg-block(src="img/intro-pic.jpg", alt="")
        div.container.product_good_eat
            p 
                | 人要更健康，不妨少吃肉多吃魚，因為魚類中富含豐富的<span style="color: #5fa95f">硫胺素</span>、<span style="color: #5fa95f">核黃素</span>、<span style="color: #5fa95f">尼克酸</span>、<span style="color: #5fa95f">維生素D</span> 等和一定量的<span style="color: #5fa95f">鈣</span>、<span style="color: #5fa95f">磷</span>、<span style="color: #5fa95f">鐵</span>等礦物質。 魚肉中脂肪含量雖低，但其中的脂肪酸被證實有<span style="color: #109dea">降糖、護心和防癌</span>的效果。 魚的蛋白質含量為豬肉的2倍，屬於優質蛋白，進入人體後能有效被吸收，促進腦的活力 魚肉中富含<span style="color: #5fa95f">omega-3脂肪酸</span>及<span style="color: #5fa95f">DHA</span>幫助孩童腦部神經發育，維持成人及老年人的腦部神經健康。預防心血管疾病強化肝臟功能。
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 產品介紹
                hr.divider
        img.img-fluid.float-left.mr-4.d-none.d-lg-block(src="img/intro-pic.jpg", alt="")
        div
            p(style="display: flex;justify-content: center;") 
                | 各種魚類之
        div
            p(style="display: flex;justify-content: center;") 
                | 魚鬆、魚脯、魚絨製作
        div
            p(style="display: flex;justify-content: center;") 
                | 接受各種口味訂製、代工
        div
            p(style="display: flex;justify-content: center;") 
                | (辣味、五香、紅麴)
        div
            p(style="display: flex;justify-content: center;") 
                | (薑粉、海苔、芝麻)
        div
            p(style="display: flex;justify-content: center;") 
                | (以及各地名產搭配)
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 產品用途
                hr.divider
        img.img-fluid.float-left.mr-4.d-none.d-lg-block(src="img/intro-pic.jpg", alt="")
        div
            p(style="display: flex;justify-content: center;") 
                | (配)白飯、稀粥、米糕
        div
            p(style="display: flex;justify-content: center;") 
                | (夾)吐司、饅頭、燒餅
        div
            p(style="display: flex;justify-content: center;") 
                | (包)壽司、飯糰、蛋餅
        div
            p(style="display: flex;justify-content: center;") 
                | (做)蛋捲、大餅、零食
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 產品列表
        hr.divider
        .row.mt-2.mb-2
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/文香珍相簿_180604_0011.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 月亮魚絨(300g/罐裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/網頁資料相片_190314_0002.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 月亮魚絨(300g/袋裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119481.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 月亮魚絨標籤
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/文香珍相簿_180604_0012.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚脯(300g/罐裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/網頁資料相片_190314_0003.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚脯(300g/袋裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119479.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚脯標籤
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/文香珍相簿_180604_0014.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚鬆(300g/罐裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/網頁資料相片_190314_0001.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚鬆(300g/袋裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119478.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 旗魚鬆標籤
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/文香珍相簿_180604_0013.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 鮪魚鬆(300g/罐裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/網頁資料相片_190314_0011.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 鮪魚鬆(300g/袋裝)
            .col-md-4.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/label/119480.jpg", alt="")
                    .card-body.text-center
                        h4.card-title.m-0
                            | 鮪魚鬆標籤