extends templates/_layout.pug

block main
    .bg-faded.p-4.my-4
        hr.divider
        h2.text-center.text-lg.text-uppercase.my-0
            strong.block_title 報告列表
        hr.divider
        .row.mt-2.mb-2
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119486.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119487.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119488.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119489.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119491.jpg", alt="")
            .col-md-6.mb-6.mb-md-0
                .card.h-100
                    img.card-img-top(src="images/report/119492.jpg", alt="")